* {
  padding: 0;
  margin: 0;
  background-color: #3a2d32;
  color: #ffe3dc;
  border-color: #ffe3dc !important;
}

#root {
  width: 95%;
}

.form-container {
  width: 30vw;
  padding: 21px;
}

.form-input {
  padding: 10px 5px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid grey;
  margin: 0 0 10px 0;
  max-width: 100%;
}

.form-input:focus {
  outline: 2px solid #d30c7b;
}

.submit-btn {
  width: fit-content;
  border-radius: 3px;
  border: 1px solid;
  transition: 0.25s ease-in-out;
  font-weight: 600;
  color: #3a2d32;
}

.submit-btn:hover {
  width: fit-content;
  border-radius: 3px;
  border: 1px solid;
  background-color: #ffe3dc;
  color: #ffe3dc;
}

textarea {
  height: 20vh;
  max-width: 100%;
  min-width: 100%;
}

nav {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #3a2d32;
}

a:link,
a:visited {
  transition: 0.2s ease-out;
  font-weight: 600;
}

a:hover,
a:active {
  text-decoration-color: #d30c7b;
}

.post {
  border: 1px solid #ffe3dc;
  border-radius: 3px;
  width: 30vw;
  padding: 20px;
  margin: 30px;
}

.post-name {
  padding: 10px 0;
  font-weight: 800;
}

.post-name:hover {
  color: #d30c7b;
}

.front-body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-body {
  margin-top: 50px;
}

button {
  border: none;
}

.heart-on {
  text-decoration: underline;
  color: #d30c7b;
  height: 16px;
}

.heart-off {
  text-decoration: underline;
  color: #ffe3dc;
  height: 16px;
}

.post-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.like-link {
    font-weight: 200 !important;
    font-size:small;
}

.like-link:hover, .like-link:active {
    text-underline-offset: 1px;
}